@import '../../../color-variables.scss';

.app-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(180deg, $primary-color, $secondary-color);
}

img {
    padding: 50px;
    border-radius: 20%;
}